
header {
    background: rgba(0, 0, 0, 0) linear-gradient(#fff1f1, #d4d4d4, #ffffff) repeat scroll 0 0;
    border: 4px solid #00fa9a;
    color: #444465;
    font-size: 2em;
    height: 30%;
    letter-spacing: 47px;
    margin: 0 auto;
    outline: medium solid #0000ff;
    text-align: center;
    text-shadow: 4px 3px #ffcdcd;
    width: 99%;
}
#container {
    background-color: #aaaaaa;
    display: block;
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
}
body {
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
}
