
html, body {
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}
.fix{
    position: fixed;
}
header {
    text-align: center;
}
nav {
    font-size: 90%;
    padding-bottom: 1em;
    padding-top: 1em;
}
.main-nav {
    margin: 0 auto;
    text-align: left;
    width: 95%;
}
li {
    display: inline;
    margin: 8px;
}
a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px;
    border-style: none none solid;
    border-width: 0;
    color: rgb(255, 255, 255);
    outline: 1px solid rgb(65, 160, 204);
    outline-offset: calc(4px);
    padding: 0.47%;
    text-decoration: none;
}
a.current {
    border-color: rgb(255, 255, 255);
    border-radius: 1px;
    border-width: 3px;
    color: rgb(44, 49, 64);
}
#intro-pre-1 {
    margin-left: -2.5em;
}
a:hover {
    color: rgb(245, 245, 40);
}
nav ul {
    background-color: rgb(65, 160, 204);
    padding: 1em;
}
nav#silent-nav {
    display: flex;
    height: 3em;
    justify-content: center;
    padding: 0;
}
#silent-nav a:hover {
    background-color: rgb(221, 239, 219);
}
#silent-nav > ul > li > a {
    color: rgb(11, 65, 85);
    font-size: 80%;
    outline: medium none;
    text-transform: uppercase;
}
#silent-nav > ul {
    background-color: rgb(255, 255, 255);
    flex-basis: 45%;
    padding: 0;
    position: relative;
    top: -32%;
}
.first-toggle {
    color: rgb(56, 65, 133);
    cursor: default;
    font-size: 1.6em;
    left: 24%;
    position: relative;
}
.first-toggle:hover {
    color: rgb(220, 20, 60);
}
.body-cover {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: all 2s ease-in-out 0s;
}
.hide-view {
    font-size: 0;
    transition: all 1.3s ease 0s;
    width: 0;
}
#menu-container {
    display: flex;
    position: absolute;
    right: 0;
    top: -1em;
    z-index: 1;
}
#menu-container.show-view {
    background-color: rgb(73, 73, 73);
    transition: all 1.3s ease-in-out 0s;
    width: 100%;
}
#menus {
    display: flex;
    visibility: visible;
    width: 100%;
}
#menus li:hover {
    background-color: rgb(117, 117, 117);
}
#menus li {
    border-radius: 2px;
}
#menus li a:hover {
    color: rgb(255, 255, 174);
}
#first-toggle {
    background-color: rgb(151, 151, 151);
    border-radius: 25px;
    cursor: default;
    font-size: 1.2em;
    height: 1.5em;
    left: 97.2%;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
    top: 0.7em;
}
#first-toggle:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(255, 163, 155);
    cursor: pointer;
}
span#first-toggle ~ div {
    color: rgb(255, 255, 255);
}
.menu {
    display: flex;
    flex-flow: column nowrap;
    opacity: 1;
    padding: 2em;
    width: 20%;
}
.menu li {
    align-content: start;
    background-color: rgba(151, 151, 151, 0.5);
    flex-basis: 2em;
    padding-top: 0.6em;
}
.menu li a {
    border: medium none;
    color: rgba(255, 255, 255, 0.6);
    outline: medium none;
}
#list ul {
    margin: 0 auto;
    width: 85%;
}
.intro {
    font-size: 139%;
    padding: 2em;
}
.covered {
    padding: 2em;
}
.covered img {
    width: 2%;
}
input {
    padding: 8px;
}
.option {
    display: list-item;
}
#options-list {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 2;
    margin: 2em;
    padding: 2em;
}
#questions-list {
    background-color: rgb(40, 135, 179);
    border-top: 10px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 3em 2em 2em;
    padding: 2em 2em 6em 0;
}
#questions-list-question {
    padding-bottom: 2em;
}
.dot {
    background-color: rgba(255, 53, 0, 0.3);
    border-radius: 30px;
    display: inline-flex;
    height: 0.5em;
    margin: 2px 2px 2px 2em;
    width: 0.5em;
}
.dotdot {
    background-color: rgb(255, 255, 255);
    height: 0.2em;
}
.question {
    display: list-item;
    float: left;
    list-style: outside none none;
    margin: 1em 4em;
}
#intro {
    margin: 2em;
    position: relative;
    text-align: center;
}
.printing {
    background-color: rgb(203, 199, 200);
    border: medium none;
    border-radius: 0;
    display: inline;
    font-size: 12px;
    padding: 5px;
    position: relative;
}
#project {
    background-color: rgb(0, 127, 127);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 1em;
    width: 96%;
}
#inputs {
    margin: 0 auto;
    padding: 0 2% 8%;
    text-align: center;
}
footer {
    padding: 3em;
}
footer small {
    color: rgb(51, 51, 255);
    font-size: 150%;
}
.trigger:hover:not(#total):not(#current) {
    color: rgb(163, 254, 176);
    cursor: pointer;
}
.trigger {
    background-color: rgb(239, 228, 209);
    cursor: default;
    display: inline;
    font-size: 135%;
    padding: 3px 8px;
    position: relative;
}
#item, #amount {
    font-size: small;
}
.cell, #total, #submit, #reset {
    border-radius: 25px;
    font-stretch: semi-condensed;
    text-align: right;
}
#reset, #total, #submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgb(0, 127, 127) none repeat scroll 0 0;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    font-size: 132%;
}
#total, #current {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#reset {
    left: -30%;
}
#submit {
    right: -30%;
}
#resultsPane > table {
    margin: 0 auto;
}
#manage {
    background-color: rgb(0, 127, 127);
    border-radius: 4px;
    color: rgb(204, 204, 204);
    left: 70px;
    overflow-x: hidden;
    padding-bottom: 60px;
    padding-top: 60px;
    position: absolute;
    top: 1%;
    transition: all 0.3s ease 0s;
    width: 0;
    z-index: 1;
}
#manage > .managed {
    border-bottom: 0.01em solid;
    cursor: pointer;
    font-size: 25px;
    left: 10px;
    margin-left: -3.8%;
    padding: 12px 12px 12px 10%;
    position: relative;
    text-align: left;
    transition: all 0.3s ease 0s;
    width: 63%;
}
.managed:hover {
    background-color: rgb(153, 153, 153);
    border-radius: 7px;
    border-top: 0.01em solid;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#toggler {
    background-color: rgb(0, 127, 127);
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    padding: 6px 8px;
    position: relative;
    right: 1em;
    top: -40px;
    width: 2.5%;
}
#toggler:hover {
    background-color: rgb(0, 127, 127);
}
input {
    border-radius: 20px;
}
.toggle {
    width: 250px;
}
#equiv {
    background-color: rgb(0, 127, 127);
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    transition: all 0.8s ease-in-out 0.3s;
}
#equiv:hover {
    border-style: dotted;
    padding: 12px;
}
#resultsPane {
    width: 100%;
}
#row {
    width: 70%;
}
#trigger {
    margin: 1em;
}
#input {
    margin: 2em;
}
.input {
    font-stretch: semi-condensed;
}
#cell0 {
    text-align: left;
}
.table {
    width: 85%;
}
footer {
    font-size: 50%;
}
