:root {
	--color-primary: #0073FF;
	--color-white:  #E9E9E9;
	--color-black: #141D28;
	--color-black-1: #212B38;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}

.menu-bar {
	background-color: var(--color-black);
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.5%;
}
.logo {
	color: var(--color-white);
}
.logo span {
	color: var(--color-primary);
}
.menu-bar ul {
	list-style: none;
	display: flex;
}
.menu-bar ul li {
	padding: 10px 30px;
	position: relative;
}
.menu-bar ul li a {
	text-decoration: none;
	font-size: 20px;
	color: var(--color-white);
	transition: all 0.3s;
}
.menu-bar ul li a:hover {
	color: var(--color-primary);
}

.drop-down-menu {
	visibility: hidden;
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--color-black);
}
.show-block {
	display: block;
	visibility: visible;
}
.drop-down-menu ul {
	display: block;
	margin: 10px;
}
.drop-down-menu ul li {
	width: 150px;
	padding: 10px;
}

.fa-caret-right {
	float: right;
	margin-left: 10px;
	padding-top: 3px;
}

.drop-down-menu-1 {
	display: none;
}
.drop-down-menu ul li:hover .drop-down-menu-1 {
	display: block;
	position: absolute;
	top: O;
	left: 150px;
	background-color: var(--color-black);
}
.hero {
	height: calc(100vh - 80px);
	background-image: url("A4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.drop-down-menu ul li:hover .fa-caret-right:before {
	content: "\f0d8";
}