
body, html, * {
    box-sizing: padding-box;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
#manage {
    margin: 7px;
    text-align: left;
}
.managed {
    background-color: #CBC8C9;
    border-radius: 5px;
    color: #f0f0f0;
    display: inline;
    font-size: 12px;
    padding: 5px;
    position: relative;
}
.managed:hover {
    background: #d7aa99 none repeat scroll 0 0;
    cursor: pointer;
    color: black;
}
#managed_right {
    left: 70%;
}
#managed_center {
    left: 40%;
}
#managed_left {
    left: 10%;
}
#inputs {
    background-color: #f5deb3;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    width: 80%;
}
#intro {
    left: 10em;
    margin: 2em;
    position: relative;
    width: 20em;
}

.trigger {
    background-color: #EFE5D2;
    color: #B0AFA5;
    display: inline;
    font-size: 100%;
    padding: 3px 8px;
    position: relative;
    cursor: default;
}
.cell, #total, #submit, #reset {
    border-radius: 5px;
    color: #789;
    font-size: 100%;
    font-size-adjust: 1;
    font-weight: 600;
    text-align: right;
}
#reset, #total, #submit {
    font-size: 80%;
}
#total, #current {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#reset {
    left: -30%;
}
#submit {
    right: -30%;
}
body {
    background-color: #ebebeb;
    width: 100%;
}
#resultsPane > table {
    margin: 0 auto;
}
header {
    background-color: #ffffdf;
    font-size: 120%;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}
header {
    background-color: #ffffdf;
    box-sizing: content-box;
    font-size: 120%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    width: 80%;
}
nav {
    background-color: #e8e8e8;
    border-bottom: 1px solid #000000;
    font-family: Arial;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    width: 80%;
}
nav ul li {
    display: inline;
    font-style: oblique;
}
nav ul li a {
    border: medium none;
    border-radius: 50%;
    color: #0000ff;
    padding: 0.5em 1em;
    text-decoration: none;
}
nav ul li a:visited {
    color: #b30000;
    text-decoration: overline dotted #ffff00;
}
nav ul li a:hover {
    color: #228080;
    text-decoration: overline dotted #0000ff;
}
nav ul li a:link {
    color: #808000;
}
#resultsPane {
    width: 101%;
}
#row {
    width: 70%;
}
#trigger {
    margin: 1em;
}
#input {
    margin: 2em;
}
.input {
    font-family: Verdana,Arial,sans-serif;
    font-stretch: extra-expanded;
}
#cell0 {
    text-align: left;
}
.RASTERS {
    width: 85%;
}
