{{define "catalog"}}
    <div id="body-cover">
        <ul id="menu-container" class="hide-view">
            <span class="projects-toggler slide-close">x</span>
            <div id="menus" class="hide-view">
    
    
                <div class="menu first">
                    <div class="project-group">BASIC MATHS TOOLS</div>
                    <hr class="hide-from-view" />
                    <div class="wrapper">
    
                        <li><a href="#Calc/base10/">Number<sub>10</sub> calculator</a></li>
                        <li><a href="#Calc/base2/">Number<sub>10</sub> calculator</a></li>
                        <li><a href="#Calc/base10/converter">convert base<sub>10</sub> to base<sub>2</sub></a></li>
                        <li><a href="#Calc/base2/converter">convert base<sub>2</sub> to base<sub>10</sub></a></li>
                    </div>
                </div>
    
                <div class="menu second">
                    <div class="project-group">PROGRESSIVE EXPERIMENTS</div>
                    <hr class="hide-from-view" />
                    <div class="wrapper">
    
                        <li><a href="#clickjacking">Web clickjacking</a></li>
                        <li><a href="#Flex/box">Flex-box experiments</a></li>
                        <li><a href="#Grid">Grid layout</a></li>
                        <li><a href="#Copy">Click to copy</a></li>
    
                    </div>
                </div>
    
    
                <div id="menu" class="menu third">
                    <div class="project-group">GRADED PROJECTS</div>
                    <hr class="hide-from-view" />
                    <div class="wrapper">
    
                        <li><a href="#">Armstrong Number</a></li>
                        <li><a href="#flexb">Boxes &amp; Color</a></li>
                        <li><a href="#">convert x<sub>10</sub> to x<sub>2</sub></a></li>
                        <li><a href="#">convert x<sub>2</sub> to x<sub>10</sub></a></li>
                    </div>
                </div>
    
    
                <div class="menu fourth">
                    <div class="project-group">PUBLISHED PROJECTS</div>
                    <hr class="hide-from-view" />
                    <div class="wrapper">
    
                        <li><a href="https://currency.michaeliyke.com/">World Currency converter</a></li>
                        <li><a href="#">Dev color code</a></li>
                        <li><a href="#">Full featured calculator</a></li>
                        <li><a href="#">convert x<sub>2</sub> to x<sub>10</sub></a></li>
    
                    </div>
                </div>
    
            </div>
        </ul>
    </div>
{{end}}