{{ define "layout" }}
<!DOCTYPE html>
<html>

{{template "head" .}}
{{ $load := . }}

<body class="root-body">

    <div id="main">
        {{ template "silent_nav" . }}

        {{ template "main_nav" . }}
    </div>
    <div class="form-wrapper">
        <form novalidate action="/user/comments/" method="POST" class="account form signup"
            enctype="application/x-www-form-urlencoded">
            <h2>Share your thoughts below</h2>

            <div class="form-control">
                <label for="body" class="lable">Message</label>
                <textarea autofocus draggable="false" class="control" name="body" cols="20" rows="10"></textarea>
            </div>
            <div class="form-control submit-control">
                <input type="submit" name="submit" class="control" value="Submit" />
            </div>
        </form>
    </div>
    <!-- {{template "footer" . }} -->

    <style>
        .signup.form.account {
            padding-bottom: 2em;
        }

        .signup .submit-control {
            margin-top: 1em;
        }
    </style>
</body>

</html>
{{ end }}