{{ define "layout" }}
<!DOCTYPE html>
<html>

{{template "head" .}}
{{ $load := . }}

<body class="root-body">

    <div id="main">
        {{ template "silent_nav" . }}

        {{ template "main_nav" . }}
    </div>
    <div class="form-wrapper">
        <form 
        novalidate 
        action="/user/feedback/" 
        method="POST" 
        class="account form signup"
        enctype="application/x-www-form-urlencoded"
        >
        <input type="hidden" name="rating" value="">
            <h2>Tell us how you feel</h2>

            <div class="form-control">
                <label for="email" class="lable">
                    Rate your experince on the platform: 
                    <span id="rate-text"> . .</span>
                </label>
                <div class="rating">
                    <button level="1" type="button" class="rates">1</button> 
                    <button level="2" type="button" class="rates">2</button> 
                    <button level="3" type="button" class="rates">3</button>
                    <button level="4" type="button" class="rates">4</button> 
                    <button level="5" type="button" class="rates">5</button>
                </div>
            </div>

            <div class="form-control">
                <label for="fullname" class="lable">Message</label>
                <textarea 
                draggable="false" 
                class="control" 
                name="message" 
                cols="30" 
                rows="10"
                ></textarea>
            </div>
            <div class="form-control submit-control">
                <input type="submit" name="submit" class="control" value="Submit feedback" />
            </div>
        </form>
    </div>
    <!-- {R{template "footer" . }R} -->

    <style>
        .signup.form.account {
            padding-bottom: 2em;
        }

        .signup .submit-control {
            margin-top: 1em;
        }
    </style>
</body>

</html>
{{ end }}