{{define "head"}}
{{ $load := . }}

<!-- head starts -->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW" />
    <meta name="description" content="Michael C. Iyke | Online Budget Calculator" />
    <meta name="author" content="Michael C. Iyke" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/sources/bootstrap-4.4.1/css/bootstrap.min.css ">
    <link rel="stylesheet" href="/sources/fontawesome-free-5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/sources/Styles/aftermath.css">
    <link rel="stylesheet" href="/sources/Styles/index.css">
    <link rel="stylesheet" href="/sources/Styles/index-android.css" />

    <!-- Dependencies -->
    <script src="/sources/bootstrap-4.4.1/js/jquery.min.js"></script>
    <script src="/sources/bootstrap-4.4.1/js/popper.min.js"></script>
    <script src="/sources/bootstrap-4.4.1/js/bootstrap.min.js"></script>
    <script src="/sources/JavaScript/PT.js"></script>
    <script src="/sources/JavaScript/jsPDF.min.js"></script>

    <!-- custom -->
    <script src="/sources/JavaScript/index.js"></script>
    <script src="/sources/JavaScript/index-helper.js"></script>

    <title>Michael C. Iyke - Budget Calculation Tool</title>
</head>
<!-- head ends -->

{{end}}