{{define "head"}}
{{ $load := . }}

<!-- head starts -->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Michael C. Iyke | Online Budget Calculator" />
    <meta name="author" content="Michael C. Iyke" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="/sources/bootstrap-5.0.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/sources/fontawesome-free-5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/sources/Styles/index.css?v=1.0.1">
    <link rel="stylesheet" href="/sources/Styles/aftermath.css">
    <link rel="stylesheet" type="text/css" href="/sources/Styles/index-android.css?version=1.6.2" />

    <!-- Dependencies -->
    <script src="/sources/bootstrap-5.0.1/js/popper-2.9.min.js"></script>
    <script src="/sources/bootstrap-5.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/sources/JavaScript/PT.js"></script>
    <script type="text/javascript" src="/sources/JavaScript/jsPDF.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="/sources/JavaScript/index.js?version=1.0.2"></script>
    <script src="/sources/JavaScript/index-helper.js?v=0" type="text/javascript" charset="utf-8"></script>

    <title>Michael C. Iyke - Budget Calculation Tool</title>
</head>
<!-- head ends -->

{{end}}