{{ define "layout" }}
<!DOCTYPE html>
<html>

{{template "head" .}}
{{ $load := . }}

<body class="root-body">

    <div id="main">
    {{ template "silent_nav" . }}
    
    {{ template "main_nav" . }}
    </div>
    <div class="form-wrapper">
        <form novalidate action="/help/" method="POST" class="account form signup"
        enctype="application/x-www-form-urlencoded">
        <h3 style="text-align: center;">How may we be of help?</h3>
            
            <div class="form-control">
                <label for="fullname" class="lable">Name</label>
                <input type="text" name="fullname" class="control" placholder="Enter Name" />
            </div>

            <div class="form-control">
                <label for="email" class="lable">Email address</label>
                <input type="email" name="email" class="control" paceholder="Enter Email" />
            </div>

            <div class="form-control">
                <label for="message" class="lable">Message</label>
                <textarea 
                draggable="false" 
                class="control" 
                name="message" 
                cols="30" 
                rows="10"
                ></textarea>
            </div>
            <div class="form-control submit-control">
                <input type="submit" name="submit" class="control" value="Submit feedback" />
            </div>
        </form>
    </div>
    {{template "footer" . }}

<style>
    .signup.form.account {
        padding-bottom: 2em;
    }
    .signup .submit-control {
        margin-top: 1em;
    }
</style>
</body>

</html>
{{ end }}