{{define "index_header"}}
{{/*
A COMMENT OR TWO CAN BE HERE
*/}}
{{ $load := . }}
<header id="header">
  {{/*
  {{ template "catalog" . }}
  */}}

  <section id="menu-control">

    {{ template "silent_nav" . }}

    {{ template "main_nav" . }}

  </section>

  <div id="main-heading" class="row mx-0 pb-0 pb-sm-5">

    <h1 id="title" class="col-12 my-0 ">Budget Calculation </h1>
    <ol class="col-12 col-sm-8 mx-sm-auto py-4 py-sm-0 my-0">
      <li class="title-bullets">Calculate easy and simple</li>
      <li class="title-bullets shift-right">View result, print, and take with you</li>
      <li class="title-bullets">Save and view anytime, on any device</li>
    </ol>

  </div>

</header>

{{end}}