{{define "index_header"}}
{{/*
A COMMENT OR TWO CAN BE HERE
*/}}
{{ $load := . }}
<header id="header">
  {{/*
  {{ template "catalog" . }}
  */}}

  <section id="menu-control">

    {{ template "silent_nav" . }}

    {{ template "main_nav" . }}

  </section>
<!-- 
  <div id="main-heading" class="row mx-0">

    <h1 id="title" class="col-12">Budget Calculation </h1>
    <ol class="col-8 mx-auto">
      <li class="title-bullets">Calculate easy and simple</li>
      <li class="title-bullets shift-right">View result, print, and take with you</li>
      <li class="title-bullets">Save and view anytime, on any device</li>

    </ol>

  </div> -->

</header>

{{end}}