<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Michael C. Iyke | Online Budget Calculator" />
    <meta name="author" content="Michael C. Iyke" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- stylesheets -->
    <!-- <link rel="stylesheet" href="/sources/bootstrap-5.0.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/sources/fontawesome-free-5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/sources/Styles/index.css?v=1.0.1">
    <link rel="stylesheet" href="/sources/Styles/aftermath.css">
    <link rel="stylesheet" type="text/css" href="/sources/Styles/index-android.css?version=1.6.2" />

    <!-- Dependencies -->
    <script src="/sources/bootstrap-5.0.1/js/popper-2.9.min.js"></script>
    <script src="/sources/bootstrap-5.0.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/sources/JavaScript/PT.js"></script>
    <script type="text/javascript" src="/sources/JavaScript/jsPDF.min.js"></script>

    <!-- custom -->
    <script type="text/javascript" src="/sources/JavaScript/index.js?version=1.0.2"></script>
    <script src="/sources/JavaScript/index-helper.js" type="text/javascript"></script>

    <title>Michael C. Iyke - Budget Calculation Tool</title>
</head>

<body class="root-body">

    <div id="main">
        <header id="header">
            {{ template "catalog" . }}
            <section id="menu-control">        
            <nav id="silent-nav">
                <h1>
                    <div class="open-off-canvass unchanged">
            
                        <!-- Three dots html entity = &vellip; -->
                        <div class="swap three-dots-single">&#8942;</div>
                        <div class="swap three-dots-cross">&#8942;</div>
                    </div>
                    <a href="/">PLAYGROUND</a>
                </h1>
                <ul class="quiet">
                    {{ if and $load $load.IsAdmin $load.IsUser }}
                    <li>
                        <a href="#">Admin <i class="fas fa-caret-down toggle-sign"></i></a>
                        <div class="drop-down-menu">
                            <ul>
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                {{ if not $load.IsOwner}}
                                <li><a href="#">View users</a></li>
                                {{ end }}
                                {{ if and $load (and .IsUser .IsOwner)}}
                                <li><a href="#">Manage users</a></li>
                                <li><a href="#">Grant</a></li>
                                {{ end }}
                            </ul>
                        </div>
                    </li>
                    {{ end }}
                    <li><a href="/app/manage/" route="manage">Manage</a></li>
                    <li><a href="/user/comments/" route="comments">Comments</a></li>
                    <!-- http://ultimateweb.gear.host/ -->
                    <li><a href="/user/feedback/" route="feedback">Feedback</a></li>
                    <li><a href="/client/chat/" route="chat">CHAT</a></li>
            
                    {{ if and $load $load.IsUser }}
                    <li>
                        <span>Account <i class="fas fa-caret-down toggle-sign"></i></span>
                        <div class="drop-down-menu">
                            <ul>
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="/account/update/">Account</a></li>
                                <li><a href="#">Share</a></li>
                                <li><a href="/account/logout/">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    {{ else }}
                    <li><a href="/account/login/" route="login">Login</a></li>
                    {{ end }}
            
                </ul>
            </nav>
        
                <nav id="nav" class="main-nav">
                
                    <ul>
                
                        <li class="main-menu"><a href="/">Employment</a></li>
                        <li class="main-menu"><a href="https://michaeliyke.com/about/">About Playground</a></li>
                        <li class="main-menu"><a href="#">Application</a></li>
                        <li class="main-menu"><a href="#">LinkedIn page</a></li>
                        <li class="main-menu"><a href="https://michaeliyke.com/">Portfolio</a> </li>
                        <li class="main-menu"><a href="#">Blog</a></li>
                        <li class="main-menu"><a href="#">survey app</a></li>
                        <li class="main-menu"><a href="/help/">Help</a></li>
                        {{ if and $load $load.IsUser $load.IsAdmin}}
                        <li class="main-menu" data-role="projects-menu">
                            <span data-role="projects-toggler" class="projects-toggler slide-open">&#9776;</span>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </section>
            <div id="main-heading">
            
                <h1 id="title">Budget Calculation </h1>
                <ol>
                    <li class="title-bullets">Calculate easy and simple.</li>
                    <li class="title-bullets shift-right">View result, print, and take with you.</li>
                    <li class="title-bullets-exception">Save and view anytime, on any device.</li>
            
                </ol>
            
            </div>

        </header>
        <article id="project-body">
            <div id="list">
                <div id="questions-list">
                    <ul>
                        <div class="questions-intro-1 heading">
                            Do you want to make a budget for
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
        
                        <li class="question"> A new month ?</li>
                        <li class="question"> A week ? </li>
                        <li class="question">OR . . .</li>
                        <li class="question">Just a day ?</li>
                    </ul>
                </div>
                <div id="options-list">
                    <ul>
                        <div class="questions-intro-2  heading">Are you
                            <div class="dot dotdot"></div>
                            <div class="dot dotdot"></div>
                            <div class="dot dotdot"></div>
                        </div>
                        <div class="questions">
                            <li class="option"> An accountant? </li>
                            <li class="option">A keeper of stock?</li>
                            <li class="option">An earner and want to keep track?</li>
                        </div>
                        <div>
                            <div class="shout  heading">Look no further!</div>
                            <p class="introducing">
                                To use, start by typing in an item in the input provided, then hit 'Enter'. The results are
                                shown live as you type. It's easy to use, <a href="#project" class="try-it">try
                                    it<span>!</span></a> When you're done, grab a PDF of your work or share the text on your
                                favourite social media.
                            </p>
                        </div>
                    </ul>
                </div>
                <div class="covered comfirm">This budget calculator is for you &nbsp;
                    <!-- <i class="fas fa-check" style="font-size: 3rem; color: #19C029;"></i> -->
                    <i class="fas fa-thumbs-up is-for-you"></i>
                </div>
        
                <hr style="opacity: 0;" />
            </div>
        </article>
    <div id="project">
        <h2 class="calculator-heading heading">Budget Calculator</h2>
        <form method="post" action="" id="budget" name="budget">
            <div id="inputs">
                <div id="trigger">
                    <div id="toggler" class="toggler">
                        <span class="show equiv" id="equiv">&#9776;</span>
                        <div id="manage">
                            <div>Management tools</div>
                            <hr />
                            <div class="managed converting" id="converting">convert to pdf</div>
                            <div class="managed disabled saving" id="saving">save as text</div>
                            <div class="managed disabled managing" id="managing">share</div>
                            <div class="managed printing" id="printing"> print</div>
                        </div>
                    </div>
                    <div id="reset" class="trigger reset"> Reset </div>
                    <div id="total" class="trigger total">Total: 0.00</div>
                    <div id="submit" class="trigger submit">
                        <span>Save <i class="fas fa-caret-down toggle-sign"></i></span>
                        <div class="drop-down-menu">
                            <ul>
                                <li><a href="#">Item 1</a></li>
                                <li><a href="#">Item 2</a></li>
                                <li><a href="#">Item 3</a></li>
                                <li><a href="#">Item 4</a></li>
                            </ul>
                        </div>
                    </div>
    
                </div>
                <div id="input">
                    <input type="text" name="item" id="item" class="input type item" placeholder="First Item" />
                    <input type="digit" name="value" id="amount" class="input type amount" placeholder="value" />
                </div>
                <div id="current" class="trigger">
                    <span id="currentItem">current value</span> <span>:</span> <span id="current"> 0.0</span>
                </div>
            </div>
            <div id="resultsPane">
                <table id="table" class="table resultsPane" cellspacing="15" cellpadding="11" border="1" id="table"
                    width="100%">
    
                    <tbody>
    
                        <tr style="display: none;">
                            <td colspan="" rowspan="" headers="">results will be shown here</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
        <footer id="footer">
        
            <small>Copy Right &copy;: Michael C. Iyke | <i> <a href="mailto:ymichaelc@gmail.com">ymichaelc@gmail.com</a> </i>
                <br /> All rights reserved.</small>
        </footer>

    </div>
</body>

</html>
