{{ define "layout" }}
{{ $load := . }}

<!DOCTYPE html>
<html>

{{template "head" .}}

<body class="root-body">

</body>
<div id="main">
    <section id="menu-control">
        {{ template "silent_nav" . }}
        
        {{ template "main_nav" . }}
    </section>
</div>
<div class="form-wrapper">
    <form action="/account/login/" method="POST" class="account form" enctype="application/x-www-form-urlencoded">
        <div class="form-control">
            <label for="email" class="lable">Email</label>
            <input type="email" name="email" class="control" />
        </div>
        <div class="form-control">
            <label for="password" class="lable">Password</label>
            <input type="password" name="password" class="control" />
        </div>
        <div class="form-control checkbox-control">
            <input type="checkbox" name="keep-login" class="control" />
            <label for="keep-login" class="lable">Keep me logged in</label>
        </div>
        <div class="form-control checkbox-control">
            <span>
                <a href="/account/signup/">Create an Account </a>
                instead
            </span>
        </div>
        <div class="form-control submit-control">
            <input type="submit" name="submit" class="control" value="Sign in" />
        </div>
    </form>
</div>
</html>
{{ end }}