{{define "main_nav"}}
    <nav id="nav" class="main-nav">
    
        <ul>
    
            <li class="main-menu"><a href="/">My company</a></li>
            <li class="main-menu"><a href="https://michaeliyke.com/about/">About me</a></li>
            <li class="main-menu"><a href="#">Application Letter</a></li>
            <li class="main-menu"><a href="#">social meadia</a></li>
            <li class="main-menu"><a href="https://michaeliyke.com/">Michael Iyke</a> </li>
            <li class="main-menu"><a href="#">Blog page</a></li>
            <li class="main-menu"><a href="#">Brief survey</a></li>
            <li class="main-menu"><a href="#">Contact page</a></li>
            <li class="main-menu" data-role="projects-menu">
                <span data-role="projects-toggler" class="projects-toggler slide-open">&#9776;</span>
            </li>
        </ul>
    </nav>
{{end}}