{{define "main_nav"}}
{{ $load := . }}
    <nav class="main-navigation navbar navbar-expand-sm px-0 mt-3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="main-nav-toggler">
        <ul class="navbar-nav justify-content-between w-100">
            <li class="nav-item">
                <a class="nav-link" href="/">Employment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" route="about" href="/about/">About  Playground</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" route="application" href="/application/">Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LinkedIn page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://michaeliyke.com/">Portfolio</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" route="survey" href="/survey/">survey app</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" route="help" href="/help/">Help</a>
            </li>
            {{ if and  $load $load.IsUser $load.IsAdmin}}
            <!-- <li class="nav-item" data-role="projects-menu">
                <span data-role="projects-toggler" class="projects-toggler slide-open">&#9776;</span>
            </li> -->
            {{ end }}
        </ul>
        </div>
        </div>
    </nav>
{{end}}