{{define "main_nav"}}
{{ $load := . }}
    <nav id="nav" class="main-nav">
    
        <ul>
    
            <li class="main-menu"><a href="/">Employment</a></li>
            <li class="main-menu"><a href="https://michaeliyke.com/about/">About  Playground</a></li>
            <li class="main-menu"><a href="#">Application</a></li>
            <li class="main-menu"><a href="#">LinkedIn page</a></li>
            <li class="main-menu"><a href="https://michaeliyke.com/">Portfolio</a> </li>
            <li class="main-menu"><a href="#">Blog</a></li>
            <li class="main-menu"><a href="#">survey app</a></li>
            <li class="main-menu"><a href="/help/">Help</a></li>
            {{ if and  $load $load.IsUser $load.IsAdmin}}
            <li class="main-menu" data-role="projects-menu">
                <span data-role="projects-toggler" class="projects-toggler slide-open">&#9776;</span>
            </li>
            {{ end }}
        </ul>
    </nav>
{{end}}