{{ define "layout" }}
<!DOCTYPE html>
<html>

{{template "head" .}}
{{ $load := . }}

<body class="root-body">

    <div id="main">
        <section id="menu-control">
            {{ template "silent_nav" . }}
            
            {{ template "main_nav" . }}
        </section>
    </div>
    <div class="form-wrapper">
        <form novalidate action="/account/signup/" method="POST" class="account form signup" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="query" value="{{.Query}}">
            <div class="form-control break-up">
            <div class="form-control">
                <label for="email" class="lable">Email</label>
                <input type="email" name="email" class="control" />
            </div>
            <div class="form-control">
                <label for="password" class="lable">Password</label>
                <input type="password" name="password" class="control" />
            </div>
            </div>
            <div class="form-control">
                <label for="fullname" class="lable">Full Name</label>
                <input type="text" name="fullname" class="control" placeholder="John Smith" />
            </div>
            
            <div class="form-control checkbox-control">
               <span>Have an account? 
                    <a href="/account/login/"> Log in</a>
                </span>
            </div>
            <div class="form-control submit-control">
                <input type="submit" name="submit" class="control" value="Sign up" />
            </div>
        </form>
    </div>
    <!-- {{template "footer" . }} -->


</body>

</html>
{{ end }}