{{ define "silent_nav" }}


{{ $load := . }}

<nav id="silent-nav">
    <h1>
        <div class="open-off-canvass unchanged">

            <!-- Three dots html entity = &vellip; -->
            <div class="swap three-dots-single">&#8942;</div>
            <div class="swap three-dots-cross">&#8942;</div>
        </div>
        <a href="/">PLAYGROUND</a>
    </h1>
    <ul class="quiet">
        {{ if and $load $load.IsAdmin $load.IsUser }}
        <li>
            <a href="#">Admin <i class="fas fa-caret-down toggle-sign"></i></a>
            <div class="drop-down-menu">
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    {{ if not $load.IsOwner}}
                    <li><a href="#">View users</a></li>
                    {{ end }}
                    {{ if and $load (and .IsUser .IsOwner)}}
                    <li><a href="#">Manage users</a></li>
                    <li><a href="#">Grant</a></li>
                    {{ end }}
                </ul>
            </div>
        </li>
        {{ end }}
        <li><a href="/app/manage/" route="manage">Manage</a></li>
        <li><a href="/user/comments/" route="comments">Comments</a></li>
        <!-- http://ultimateweb.gear.host/ -->
        <li><a href="/user/feedback/" route="feedback">Feedback</a></li>
        <li><a href="/client/chat/" route="chat">CHAT</a></li>

        {{ if and $load $load.IsUser }}
        <li>
            <span>Account <i class="fas fa-caret-down toggle-sign"></i></span>
            <div class="drop-down-menu">
                <ul>
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="/account/update/">Account</a></li>
                    <li><a href="#">Share</a></li>
                    <li><a href="/account/logout/">Logout</a></li>
                </ul>
            </div>
        </li>
        {{ else }}
        <li><a href="/account/login/">Login</a></li>
        {{ end }}
        
    </ul>
</nav>
{{ end }}