{{define "torsor"}}
{{ $pipeline := . }}
<article id="project-body">
    <div id="list">
        <div id="questions-list">
            <ul>
                <div class="questions-intro-1 heading">
                    Do you want to make a budget for
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>

                <li class="question"> A new month ?</li>
                <li class="question"> A week ? </li>
                <li class="question">OR . . .</li>
                <li class="question">Just a day ?</li>
            </ul>
        </div>
        <div id="options-list">
            <ul>
                <div class="questions-intro-2  heading">Are you
                    <div class="dot dotdot"></div>
                    <div class="dot dotdot"></div>
                    <div class="dot dotdot"></div>
                </div>
                <div class="questions">
                    <li class="option"> An accountant? </li>
                    <li class="option">A keeper of stock?</li>
                    <li class="option">An earner and want to keep track?</li>
                </div>
                <div>
                    <div class="shout  heading">Look no further!</div>
                    <p class="introducing">
                        To use, start by typing in an item in the input provided, then hit 'Enter'. The results are
                        shown live as you type. It's easy to use, <a href="#project" class="try-it">try
                            it<span>!</span></a> When you're done, grab a PDF of your work or share the text on your
                        favourite social media.
                    </p>
                </div>
            </ul>
        </div>
        <div class="covered comfirm">This budget calculator is for you &nbsp;
            <!-- <i class="fas fa-check" style="font-size: 3rem; color: #19C029;"></i> -->
            <i class="fas fa-thumbs-up is-for-you"></i>
        </div>

        <hr style="opacity: 0;" />
    </div>
</article>
{{end}}