<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <script type="text/javascript" src="JavaScript/jQuery.js"></script>
   <script type="text/javascript" src="JavaScript/Techie.js"></script>
   <script type="text/javascript" src="JavaScript/Test.js"></script>
   <title>XHR Practice</title>
</head>
<body>
   <body>
      <form name='myForm' id="fm">
         Max Age: <input type ='text' name="age" id='age' /> <br />
         Max WPM: <input type ='text' name="wpm" id='wpm' /> <br />
         Sex: <select id='sex' name="sex">
            <option value="m">m</option>
            <option value="f">f</option>
         </select>
         
         <input type ='button' value='Query MySQL'/>
      </form>
      
      <div id='ajaxDiv'>Your result will display here</div>
   </body>
</body>
</html>