textarea {
    resize: none;
}

.form-wrapper {
    padding-top: 2em;
}

.form.account {
    border: 1px solid #dfe2e6;
    margin: 0 auto;
    padding: 1em 2em 10em;
    width: 45%;
}

.signup.form.account {
    padding-bottom: 5em;
}

.signup .form-control.break-up {
    flex-flow: row nowrap;
}

.form-control.break-up .form-control:nth-of-type(1) {
    margin-right: 0.6em;
}

.form-control.break-up .form-control:nth-of-type(2) {
    margin-left: 0.6em;
}

.form-control {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    transition: all 1s ease 0s;
}

.signup .form-control {
    flex-flow: column nowrap;
}

.form-control .control {
    border: 1px solid #dfe2e6;
    border-radius: 4px;
    padding: 0.8em 1.2em;
    width: 80%;
}

.signup .form-control .control {
    width: 100%;
}

.signup .form-control .form-control {
    width: 50%;
}

.form-control.checkbox-control {
    flex-flow: row nowrap;
    font-size: 0.9em;
    justify-content: flex-start;
    margin-left: 20%;
}

.signup .form-control.checkbox-control {
    margin-left: unset !important;
}

.checkbox-control .control {
    margin-right: 1em;
    width: unset;
}

.form-control.submit-control {
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 20%;
}

.form-control.submit-control .control {
    background-color: #0d6efd;
    border: medium none;
    color: #ffffff;
    font-size: 1em;
    padding: 0.5em 1.2em;
    width: unset;
}

.signup .submit-control {
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 4em;
}

.submit-control .control:hover {
    background-color: #0025b4;
    cursor: pointer;
}

.signup .form-control input {
    margin-top: 0.6em;
}

.rating {
    font-size: 1.7rem;
}

.rates {
    padding: 1rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    display: inline-block;
    border: 1px solid rgb(65, 160, 204);
    background-color: #ffffff;
}

.rates:hover {
    background-color: #dfe2e6;
    cursor: pointer;
}

.rate {
    background-color: #dfe2e6;
    border: 1px solid rgb(240, 234, 234);
}

.rate:hover {
    background-color: #0025b4;
}

.comments {
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-details {
    display: flex;
    flex-direction: row;
    background-color: aliceblue
}

.avatar {
    color: #0025b4;
}

.comment {
    background-color: #f2f2f2;
    padding: 0.7em;
    border-radius: 0 10px 10px 10px;
    margin: 1rem;
}

.comment-header {
    display: flex;
    background-color:azure;
    justify-content: space-between;
}

.comment-header .commentor-name {
    font-weight: bold;
}

.date-section {
    background-color: #ebebeb;
    display: flex;
}

.comment-options {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2.2px;
    align-self: flex-start;
    margin-top: -0.4em;
    margin-left: 0.5rem;
    display: inline-block;
}

.comment-text {
    background-color: #F2F2F2;
    padding: 0.7em;
    border-radius: 0 15px 15px 15px;
}

@import url("/sources/Styles/break-points.css");