
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    font-size: 1em;
    font-weight: lighter;
}

div#main {
    max-width: 100%;
}

header {
    text-align: center;
}


nav:not(#silent-nav) {
    font-size: 1em;
    font-weight: bold;
    align-items: baseline;
    background-color: rgb(65, 160, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
}
.main-nav {
    /*margin: 0 auto;*/
    text-align: left;
    width: auto;
}
li {
    display: inline;
    margin: 8px;
}
#nav a {
    color: rgb(255, 255, 255);
    padding: 1em;
}
#nav a.current {
    border-color: rgb(255, 255, 255);
    border-radius: 1px;
    border-width: 3px;
    color: rgb(44, 49, 64);
}

#nav a:hover {
    background-color: rgba(65, 10, 204, 0.2);
}
nav ul:not(.quiet) {
    background-color: rgb(65, 160, 204);
    display: inline-flex;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
nav#silent-nav {
    display: flex;
    margin: 2.5% auto 1.5%;
    position: relative;
    width: 95%;
}
#silent-nav .first-toggle {
    align-self: end;
    display: inline-block;
    flex-grow: 0;
    padding: 0 0.2em;
}
#silent-nav a {
    background-color: rgba(204, 211, 203, 0);
    border-bottom: 2px solid rgba(204, 204, 204, 0);
    border-radius: 1px;
}
#silent-nav a:hover {
    border-bottom: 2px solid rgb(65, 160, 204);
    color: rgb(65, 160, 204);
}
#silent-nav > ul > li > a {
    border-top: 0 none;
    color: rgb(11, 65, 85);
    font-size: 80%;
    outline: medium none;
    padding: 1.6em 1.28em 1em;
    text-transform: uppercase;
}
#silent-nav > ul {
    align-self: end;
    flex-grow: 1;
}
.first-toggle {
    color: rgb(56, 65, 133);
    cursor: default;
    font-size: 1.6em;
}
.first-toggle:hover {
    background-color: rgb(204, 211, 203);
}
.body-cover {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    position: absolute;
    transition: all 2s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}

#menu-container {
    /*position: relative;*/
    /*top: 0%;*/
    width: 0;
    z-index: 1;
    display: flex;
    transition: all 1.3s ease 0s;
    background-color: rgb(73, 73, 73);
    /*transition: all 1.3s ease-in-out 0s;*/
}
#menu-container.hide-view {
    /*width: 0;*/
    font-size: 0;
    height: 0;
}
#menu-container.show-view {
    width: 100%;
}

#menus.show-view {
    visibility: visible;
}

.hide-from-view {
    visibility: hidden;
}

.bring-into-view {
    visibility: visible;
}

#menus {
    display: flex;
    justify-content: space-between;
    padding: 3em 1em 2em 0;
    visibility: hidden;
    visibility: visible;
    width: 100%;

}
#menus li:hover {
    background-color: rgb(137, 137, 137);
}
#menus li {
    border-radius: 2px;
}
#first-toggle {
    background-color: rgb(255, 255, 255, 0.3);
    color: rgb(240, 230, 140);
    cursor: default;
    font-size: 1.2em;
    height: 1.5em;
    left: 97.2%;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
    top: 0.7em;
}
#first-toggle:hover {
    background-color: rgb(232, 17, 35);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
span#first-toggle ~ div {
    color: rgb(255, 255, 255);
}
.menu-tile {
    display: flex !important;
}
.menu {
    background-color: rgba(112, 112, 112, 0.4);
    display: none;
    flex-flow: column nowrap;
    opacity: 1;
    padding: 2em;
    border-bottom: 3px solid rgb(255, 255, 255);
}
.menu li {
    background-color: rgba(151, 151, 151, 0.2);
    padding: 0.6em;
    text-align: left;
}
.wrapper-show {
    background-color: rgba(120, 120, 120, 0.4);
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
}
.menu .wrapper {
    display: inline-flex;
    border-top: 1px solid rgb(255, 255, 255);
}
.menu li a {
    border: medium none;
    color: rgba(255, 255, 255, 0.9);
    outline: medium none;
}
.project-group{
    color: #a6b5c8;
    /*color: #41a0cc;*/
    /*color: #a9cfe1;*/
    /*color: #90c6f3;*/
    color: #c4dffc;
    font-weight: bold;
}
div#main-heading {
    /*animation: moving 45s linear infinite;*/
    /*background: url("../Images/Hero_openO_CC-800x533.jpg"), url("../Images/Hero_openO_CC-800x533.jpg");*/
     /*background-image: linear-gradient(to bottom, #8ac3fa, #6e9dd1, #5379aa, #385784, #1e375f);*/
    /*background-image: linear-gradient(to bottom, #bbd9fb, #99bfea, #78a6d9, #548dc9, #2675b8);*/
    /*https://mycolor.space/gradient?ori=to+bottom&hex=%23BBD9FB&hex2=%232675B8&sub=1*/

    animation-play-state: running;
    background-image: linear-gradient(to bottom, rgb(187, 217, 251), rgb(153, 191, 234), rgb(120, 166, 217), rgb(84, 141, 201), rgb(38, 117, 184));
    margin: 0 auto;
    padding-bottom: 3em;
    width: 95%;
    overflow: hidden;
}

div#main-heading ol {
    color: rgb(255, 255, 255);
    display: block;
    font-family: Segoe UI Symbol;
    font-size: 110%;
    line-height: 1.5;
    margin-left: 22%;
    text-align: left;
}

div#main-heading ol > li{
    display: list-item;
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}
@keyframes moving {
0% {
    background-position: 2000 0;
}
100% {
    background-position: 2000px 0px;
}
}
#title {
    color: rgb(102, 104, 136);
    color: #222444;
    color: #beffff;
    color: #F2C148 !important;
    font-size: 2.2em;
    letter-spacing: 0.51em;
    position: relative;
    margin-top: 15%;
    color: #555;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1.5;
}

#list  {
    font-size: 125%;
}
.heading {
    font-siz:200% !important;
}
.rounded-1 {

}
.rounded-2 {

}
.rounded-3 {

}
.question, .questions, .comfirm {

}
.introducing {
    padding-left: 1em;
}
#list ul {
    margin: 0 auto;
    width: 85%;
}
.calculator-heading {
    margin: 2em;
    position: relative;
    text-align: center;
}
.questions-intro-2 {
    /*margin-left: -2.5em;*/
}
.intro {
    padding: 2em;
}
.covered {
    padding: 2em;
}
.covered img {
    width: 2%;
}
input {
    padding: 8px;
}
.option {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 1em;
}
#options-list {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 2;
    margin: 2em;
    padding: 2em;
     background-image: linear-gradient(to top, #19222c, #192430, #1a2634, #1a2838, #1a2a3c, #1a2a3c, #1a2a3c, #1a2a3c, #1a2838, #1a2634, #192430, #19222c);
       /*background-image: linear-gradient(to top, #1c2937, #223243, #283b50, #2e445d, #354d6b, #354d6b, #354d6b, #354d6b, #2e445d, #283b50, #223243, #1c2937);*/
}
#questions-list {
    background-color: rgb(40, 135, 179);
    border-top: 10px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 3em 2em 2em;
    padding: 2em 2em 6em 0;
}
.questions-intro-1 {
    padding-bottom: 2em;
    margin-left: 2em;
}
.dot {
    background-color: rgba(255, 53, 0, 0.3);
    border-radius: 30px;
    display: inline-flex;
    height: 0.5em;
    margin: 2px 2px 2px 2em;
    width: 0.5em;
}
.dotdot {
    background-color: rgb(255, 255, 255);
    height: 0.2em;
}
.question {
    display: list-item;
    float: left;
    list-style: outside none none;
    margin: 1em 4em;
}
.heading {
    font-size: 150%;
}
.heading .dot:nth-of-type(1) {
    background-color: #fff;
}
.heading .dot:nth-of-type(2) {
    background-color: crimson;
}
.heading .dot:nth-of-type(3) {
    background-color: orange;
} 
.heading.shout {
    border-top: 1px solid rgb(255, 255, 255);
    /*border-left: 3px solid rgb(255, 255, 255);*/
    /*border-right: 3px solid rgb(255, 255, 255);*/
    letter-spacing: 1em;
    margin: 6em 2em 1em 0;
    padding: 1em;
    text-align: left;
    display: inline-block;
    color: rgb(250, 128, 114);
}

.printing {
    background-color: rgb(203, 199, 200);
    border: medium none;
    border-radius: 0;
    display: inline;
    font-size: 12px;
    padding: 5px;
    position: relative;
}
#project {
    background-color: rgb(0, 127, 127);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 1em;
    width: 96%;
    background-color: #41A0CC;
     background-image: linear-gradient(to top, #444444, #51525c, #596176, #5c7291, #5785ab, #5195bd, #46a6ce, #36b7dc, #32c8e5, #38d9eb, #48eaef, #5ffbf1);
     /*background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
      background-image: linear-gradient(to top, #4d4e55, #5a6576, #607f98, #5c9bb8, #51b8d3, #51b7d2, #51b7d2, #51b6d1, #5b98b4, #5d7c93, #576170, #494a4e);
       /*background-image: linear-gradient(to top, #4d4e55, #4d5563, #495e70, #3e677c, #2e7184, #2e7183, #2e7082, #2e7081, #3d6578, #475b6b, #4a525d, #494a4e);*/
        background-image: linear-gradient(to top, #1c1e31, #1f2e45, #1e3f59, #17516b, #09647a, #09647a, #09647a, #09647a, #17516b, #1e3f59, #1f2e45, #1c1e31);
}
#inputs {
    margin: 0 auto;
    padding: 0 2% 8%;
    text-align: center;
}
.trigger:hover:not(#total):not(#current) {
    color: rgb(163, 254, 176);
    cursor: pointer;
}
.trigger {
    background-color: rgb(239, 228, 209);
    cursor: default;
    display: inline;
    font-size: 135%;
    padding: 3px 8px;
    position: relative;
}
#item, #amount {
    font-size: small;
}
.cell, #total, #submit, #reset {
    font-stretch: semi-condensed;
}
#reset, #total, #submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-image: none;
    border-style: none none dotted;
    border-width: medium medium 1px;
    font-size: 132%;
}


#manage {
    background-color: #41A0CC;
    border-radius: 4px;
    color: rgb(204, 247, 204);
    left: 70px;
    overflow-x: hidden;
    padding-bottom: 60px;
    padding-top: 60px;
    position: absolute;
    top: 1%;
    transition: all 0.3s ease 0s;
    width: 0;
    z-index: 1;
    border: none;
    outline: none;
}
#manage > .managed {
    border-bottom: 0.01em solid;
    cursor: pointer;
    font-size: 21px;
    left: 10px;
    margin-left: -3.8%;
    padding: 12px 12px 12px 10%;
    position: relative;
    text-align: left;
    width: 63%;
    border-top: none;
}
.managed:hover {
    background-color: rgba(153, 153, 153, 0.6);
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: #7690ff;
}
.disabled{
    color: #abc38d;
    background-color: rgb(153, 153, 153, 0.3);
}
.disabled:hover{
    color: #abc38d;
    background-color: rgb(153, 153, 153, 0.3);
    cursor: default;
}
#toggler {
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    padding: 6px 8px;
    position: relative;
    right: 1em;
    top: -5.3em;
    width: 2.5%;
    border: none;
    outline: none;
}
#toggler:hover {
}
input {
    border-radius: 20px;
}
.toggle {
    width: 250px;
}
#equiv {
    border-width: 0.5px;
    padding: 3px;
}
#equiv:hover {
    border-style: dotted;
}

#row {
    /*width: 70%;*/
}
#trigger {
    margin: 1em;
}
#input {
    margin: 2em;
}
#total, #current {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#reset {
    left: -30%;
}
#submit {
    right: -30%;
}
.input {
    font-stretch: semi-condensed;
}
#cell0 {
    text-align: left;
}
.cell{
    border: 1px solid #fff;
}
.del0{
    display: none;
}
.del1 {
    /*background-color: rgb(0, 255, 255, 0.3);*/
    color: rgb(144, 138, 100);
    font-weight: bold;
    margin-top: 0.6em;
    position: absolute;
    right: 12%;
    text-align: center; 
    width: 1em;
    cursor: default;
}
.del1:hover{
    color: #f0e68b;
    cursor: pointer;
}
table {
    width: 85%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #fff;
}
footer {
    background-color: rgb(68, 68, 68);
    padding: 1em;
    color: rgb(255, 255, 255) !important;
}

footer a{
    color: #41A0CC;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}


#warning-popup{
    position: absolute;
    margin-left: 30%;
    position: absolute;
    width: 30%;
    background-color: #9898;
    margin-top: -9em;
    border: 1px solid #0101;
}
.pop{
    width: 90%;
    margin: 0 auto;
    margin: 1em;
}
.popup-head{
text-align: center;
}
.popup-body{}
.popup-foot{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
}
.popup-foot span{
    background-color: #96A7B6;
    text-align: center;
    margin: 0;
    padding: .1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
}
.popup-foot span:hover{
    background-color: #839DB4;
}

.popup-foot span#popup-no{
    background-color: rgb(200, 10, 10);

}
.popup-foot span#popup-no:hover{
    background-color: #9C4E5D;
}