@import url("index.layout.css");

.app-container {
  margin-top: 2.5rem;
}

/* Contain floats and margins. */

/* ClearFix */

.cfm:before, .cfm:after {
  content: ' ';
  display: table;
}

.cfm:after {
  clear: both;
}

#silent-navigation {
  font-family: sans-serif;
}

#silent-navigation a {
  color: var(--color-deep-blue);
  text-transform: uppercase;
  font-size: var(--font-size--small);
  font-weight: 400;
}

#silent-navigation h1 a {
  color: var(--color-logo-blue);
  font-size: var(--font-size--large);
  font-weight: 600;
}

.main-navigation {
  background-color: var(--color-deep-blue) !important;
  padding: 0;
  text-transform: capitalize;
  font-weight: 400;
}

.nav-justify .nav-item {
  text-overflow: ellipsis;
  text-align: left;
}

.main-navigation a {
  color: #ffffff !important;
}

.main-navigation a:hover, .active, #silent-navigation a:hover {
  color: var(--color-logo-blue) !important;
}

.b-none {
  border: none;
}

i.fas.fa-ellipsis-v {
  font-size: 1.2rem;
  vertical-align: 30%;
}

.active {
  cursor: default;
}

#nav a.current {
  border-color: rgb(255, 255, 255);
  border-radius: 1px;
  border-width: 3px;
  color: rgb(44, 49, 64);
}

nav [data-role="projects-toggler"] {
  border-radius: 1px;
  color: #ffffff;
  display: inline;
  font-size: var(--font-size--big);
  padding-left: 0.19em;
  padding-right: 0.19em;
  padding-top: 0.05em;
}

nav [data-role="projects-toggler"]:hover {
  background-color: rgb(116, 183, 213);
  color: #000;
  cursor: pointer;
}

#rate-text {
  padding: 1rem;
  font-size: var(--font-size--big);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #654321;
  font-weight: bold;
}

.body-cover {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  position: absolute;
  transition: all 2s ease-in-out 0s;
  width: 100%;
  z-index: 1;
}

#menu-container {
  width: 0;
  z-index: 1;
  display: flex;
  transition: all 1.3s ease 0s;
  background-color: rgb(73, 73, 73);
  transition: all 1.3s ease-in-out 0s;
}

#menu-container.hide-view {
  /*width: 0;*/
  font-size: 0;
  height: 0;
}

#menu-container.show-view {
  width: 100%;
}

#menus.show-view {
  visibility: visible;
}

.hide-from-view {
  visibility: hidden;
}

.bring-into-view {
  visibility: visible;
}

#menus {
  display: flex;
  justify-content: space-around;
  padding: 3em 1em 2em 0;
  visibility: hidden;
  visibility: visible;
  width: 100%;
  flex-wrap: wrap;
}

#menus li:hover {
  background-color: rgb(137, 137, 137);
}

#menus li:not(.title-bullets) {
  border-radius: 2px;
}

.slide-close {
  background-color: rgb(255, 255, 255, 0.3);
  color: rgb(240, 230, 140);
  cursor: pointer;
  font-size: var(--font-size--medium);
  height: 1.5em;
  left: 97.2%;
  padding-left: 11px;
  padding-right: 11px;
  position: relative;
  top: 0.7em;
}

.slide-close:hover {
  background-color: rgb(232, 17, 35);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

span.slide-close~div {
  color: rgb(255, 255, 255);
}

.menu-tile {
  display: inline-flex !important;
}

.menu {
  background-color: rgba(112, 112, 112, 0.4);
  display: none;
  flex-flow: column nowrap;
  opacity: 1;
  padding: 2em;
  border-bottom: 3px solid rgb(255, 255, 255);
  margin-top: 1em;
}

.menu li {
  background-color: rgba(151, 151, 151, 0.2);
  padding: 0.6em;
  text-align: left;
}

.wrapper-show {
  background-color: rgba(120, 120, 120, 0.4);
  display: flex;
  flex-flow: column nowrap;
  padding: 2em;
}

.menu .wrapper {
  display: inline-flex;
  border-top: 1px solid rgb(255, 255, 255);
}

.menu li a {
  border: medium none;
  color: rgba(255, 255, 255, 0.9);
  outline: medium none;
}

.project-group {
  color: #c4dffc;
  font-weight: bold;
}

div#main-heading #title {
  color: #c4a97c;
  font-size: var(--font-size--largest);
  font-weight: 900;
  line-height: 2.5;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
}

div#main-heading ol {
  background-color: rgba(40, 135, 179, 0.9);
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-size: var(--font-size--medium);
  line-height: 1.5;
  padding: 3.2rem;
  text-align: left;
  border-radius: 4px;
  font-weight: 600;
}

div#main-heading ol li::before {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 1.536rem;
  margin-right: 0.8rem;
  width: 1.536rem;
}

div#main-heading ol>li:nth-of-type(3) {
  display: block;
}

li.title-bullets {
  display: block;
  margin-top: 1.8rem;
  margin-left: 3.2rem;
}

li.title-bullets:first-of-type {
  margin-top: unset;
}

#list {
  font-size: var(--font-size--default);
}

.introducing {
  padding-left: 1.6rem;
}

.intro {
  padding: 3.2rem;
}

.covered {
  font-size: 2.08rem;
  padding: 3.2rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

.try-it {
  color: #19C029;
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: cursive;
  transition: all 0.3s ease 0s;
}

.try-it span {
  color: white;
}

.try-it:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: double;
}

i.is-for-you {
  font-size: 3rem !important;
  color: var(--color-deep-blue);
}

input {
  padding: 0.8rem;
}

.option {
  display: list-item;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 1.6rem;
}

#options-list {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  line-height: 2;
  margin: 3.2rem;
  padding: 3.2rem 0;
  background-image: linear-gradient(to top, #19222c, #192430, #1a2634, #1a2838, #1a2a3c, #1a2a3c, #1a2a3c, #1a2a3c, #1a2838, #1a2634, #192430, #19222c);
}

#questions-list {
  background-color: var(--color-deep-blue);
  border-top: 10px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  margin: 3em 2em 2em;
  padding: 2em 2em 6em 0;
}

.questions-intro-1 {
  padding-bottom: 2em;
  margin-left: 2em;
}

.dot {
  background-color: rgba(255, 53, 0, 0.3);
  border-radius: 30px;
  display: inline-flex;
  height: 0.5em;
  margin: 2px 2px 2px 2em;
  width: 0.5em;
}

.dotdot {
  background-color: rgb(255, 255, 255);
  height: 0.2em;
}

.question {
  display: inline-block;
  font-size: 1.76rem;
  font-weight: 900;
  width: 24%
}

.questions-intro-1 {
  margin-left: unset;
}

.question {
  display: inline-block;
  font-family: Segoe UI Symbol;
  font-size: 1.76rem;
  font-weight: lighter;
  margin-left: 5%;
  width: unset;
}

.heading {
  font-size: 1.76rem;
  color: #9ee6f5;
  font-weight: 900;
  text-transform: uppercase;
}

.calculator-heading {
  font-size: 3rem;
  text-decoration: underline double;
  margin: 2em;
  position: relative;
  text-align: center;
}

.heading .dot:nth-of-type(1) {
  background-color: #fff;
}

.heading .dot:nth-of-type(2) {
  background-color: crimson;
}

.heading .dot:nth-of-type(3) {
  background-color: orange;
}

.heading.shout {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  border-top: 1px solid rgb(255, 255, 255);
  color: rgb(250, 128, 114);
  display: inline-block;
  margin: 6em 2em 1em 0.6em;
  padding: 0.001em 1em 1em 0.3em;
  text-align: left;
  text-transform: uppercase;
}

#project-wrapper {
  background-color: #41A0CC;
  background-image: url("../Images/C14.jpg");
  background-color: rgba(52, 58, 64, 0.1);
  /* background-image: url("../Images/C14.jpg"), linear-gradient(to top, #1c1e31, #1f2e45, #1e3f59, #17516b, #09647a, #09647a, #09647a, #09647a, #17516b, #1e3f59, #1f2e45, #1c1e31); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
}

#inner-wrapper {
  background-color: rgba(52, 58, 64, 0.1) !important;
  background-size: cover;
}

#project {
  color: rgb(255, 255, 255);
  padding-bottom: 3em;
  padding-top: 1em;
  font-family: sans-serif;
}

#inputs {
  text-align: center;
}

#input {
  margin: 2em;
}

#toggler {
  /* background-color: rgba(239, 228, 209, 0.3); */
  border-radius: 3px;
  font-size: 2.4rem;
}

.cell, #total, #submit, #reset {
  font-stretch: semi-condensed;
}

#reset {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  padding: 0rem 1.4rem;
  display: inline-block;
}

#reset:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(153, 153, 153, 0.5);
}

#reset, #total, #submit {
  font-size: 1.92rem;
}

#toggler .mgt-toggle-btn {
  border: 1px solid #fff !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  padding-top: 5px;
}

.mgt-toggle-btn {
  border: none;
}

.mgt-toggle-btn .navbar-toggler-icon {
  background: none !important;
  background-image: none !important;
}

.mgt-toggle-btn span {
  color: #FFF !important;
  font-size: 1.6rem;
}

button:focus, button:active {
  /* border: none !important; */
  outline: none !important;
  /* */
}

.mgt {
  background-color: #41A0CC;
  background-color: #096894;
  border-radius: 4px;
  background-color: rgba(153, 153, 153, 1);
  background-color: rgba(153, 153, 153, 0.5);
  background-color: #CFB39C;
}

.mgt .text-muted {
  padding-top: 2rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 2.4rem;
}

.mgt .text-muted+hr {
  margin: 0;
}

.mgt .text-muted+hr+div {
  padding-top: 2rem;
}

.mgt>.managed {
  border-bottom: 0.016rem solid;
  border-top: medium none;
  cursor: pointer;
  font-size: 1.4rem;
  padding: var(--font-size--small);
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.file-data {
  position: relative;
}

.mgt>.managed:not(.mgt>.managed.disabled):hover {
  background-color: rgba(118, 144, 255, 0.3);
  background-color: rgba(153, 153, 153, 0.5);
}

.mgt>.managed.disabled {
  cursor: default;
  background-color: rgba(153, 153, 153, 1);
  color: #dddddd;
}

input {
  border-radius: 20px;
}

.input {
  font-stretch: semi-condensed;
  border: none;
  outline: none;
  padding-left: inherit;
}

.input:active, .input:focus {
  border: none;
  outline: none;
}

.cell-0 {
  text-align: left;
}

.cell {
  border: 1px outset #ffffff4d !important;
  padding: 1em;
}

#resultsPane tr.row {
  display: table-row;
}

#resultsPane tr:hover .delete {
  opacity: 1;
}

tr div.row-actions {
  display: inline-block;
}

tr div.row-actions a {
  display: inline-block;
}

.delete {
  margin-top: 0.6em;
  text-align: center;
  opacity: 0;
  color: rgb(144, 138, 100);
  cursor: pointer;
}

.delete:hover {
  color: rgb(160, 148, 154);
  cursor: pointer;
}

div#resultsPane {
  background-color: #E1C3A6;
}

#resultsPane table {
  border-spacing: 1.2rem 1rem;
  border: none;
  border-collapse: separate;
}

footer {
  background-color: rgb(68, 68, 68);
  padding: 1em;
  color: rgb(255, 255, 255) !important;
}

footer a {
  color: #41A0CC;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

#warning-popup {
  position: absolute;
  margin-left: 30%;
  position: absolute;
  width: 30%;
  background-color: #9898;
  margin-top: -9em;
  border: 1px solid #0101;
}

.pop {
  width: 90%;
  margin: 0 auto;
  margin: 1em;
}

.popup-head {
  text-align: center;
}

.popup-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-foot span {
  background-color: #96A7B6;
  text-align: center;
  margin: 0;
  padding: .1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #fff;
}

.popup-foot span:hover {
  background-color: #839DB4;
}

.popup-foot span#popup-no {
  background-color: rgb(200, 10, 10);
}

.popup-foot span#popup-no:hover {
  background-color: #9C4E5D;
}

.file-data input {
  background-color: rgb(235, 235, 235);
  border-radius: unset;
  display: block;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  appearance: none;
  outline: none;
  text-indent: -999em;
  opacity: 0;
}