
nav.main-nav {
    margin: 0 auto;
    /* width: 95%; */
}

nav.main-nav ul {
    background-color: var(--color-deep-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div#main-heading {
    background: url("../Images/bg/best/C.jpg"), linear-gradient(to bottom, rgb(187, 217, 251), rgb(153, 191, 234), rgb(120, 166, 217), rgb(84, 141, 201), rgb(38, 117, 184));
    margin: 0 auto;
    padding-bottom: 3em;
    /* width: 95%; */
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 119% auto;
}

#list ul {
    margin: 0 auto;
    /* width: 85%; */
}
