* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
font-size: 62.5%; /*62.5/100 * 16px = 10px*/
--font-size--small: 1.4rem; /*14px*/
--font-size--default: 1.6rem; /*16px*/
--font-size--large: 2.4rem; /*24px*/
}

.font-size-small {
    font-size: var(--font-size--small);
}
.font-size-default {
    font-size: var(--font-size--default);
}
.font-size-large {
    font-size: var(--font-size--large);
}


body {
    color: rgb(68, 68, 68);
    font-family: sans-serif;
    font-size: var(--font-size--default);
    font-weight: lighter;
}

div#main {
    max-width: 100%;
}

header {
    text-align: center;
}


nav.main-nav {
    margin: 0 auto;
    width: 95%;
}
nav.main-nav ul {
    background-color: #1b7aa6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav.main-nav ul li:last-of-type {
    margin-right: 1em;
}

nav.main-nav ul li:first-of-type {
    margin-left: 1em;
}

nav.main-nav ul li a {
    color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
    text-align: left;
    text-transform: capitalize;
    word-break: normal;
}
nav.main-nav ul li a:hover {
    color: wheat;
}

#nav a.current {
    border-color: rgb(255, 255, 255);
    border-radius: 1px;
    border-width: 3px;
    color: rgb(44, 49, 64);
}

li {
    list-style: none;
}


nav [data-role="projects-toggler"] {
    border-radius: 1px;
    color: #ffffff;
    display: inline;
    font-size: 1.5em;
    padding-left: 0.19em;
    padding-right: 0.19em;
    padding-top: 0.05em;
}
nav [data-role="projects-toggler"]:hover {
    background-color: rgb(116, 183, 213);
    color: #000;
    cursor: pointer;
}

nav#silent-nav {
    margin: 2.5% auto 1.5%;
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}
#silent-nav h1{
    flex-grow: 8;
    text-align: left;
}
#silent-nav h1 .open-off-canvass{
    display: none;
}
#silent-nav h1 a:hover{
    color: darkred;
    border: none;
}
#silent-nav h1 a{
    color: rgb(65, 160, 204);
}

#silent-nav a {
    background-color: rgba(204, 211, 203, 0);
    border-bottom: 2px solid rgba(204, 204, 204, 0);
    border-radius: 1px;
}
#silent-nav a:hover {
    border-bottom: 2px solid rgb(65, 160, 204);
    color: rgb(65, 160, 204);
    color: darkred;
}
#silent-nav > ul > li > a {
    border-top: 0 none;
    color: rgb(11, 65, 85);
    font-size: 80%;
    outline: medium none;
    padding: 1.6em 1.28em 1em;
    text-transform: uppercase;
}
#silent-nav > ul {
    align-self: end;
    display: inline-flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}
.body-cover {
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    position: absolute;
    transition: all 2s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}

#menu-container {
    width: 0;
    z-index: 1;
    display: flex;
    transition: all 1.3s ease 0s;
    background-color: rgb(73, 73, 73);
    /*transition: all 1.3s ease-in-out 0s;*/
}
#menu-container.hide-view {
    /*width: 0;*/
    font-size: 0;
    height: 0;
}
#menu-container.show-view {
    width: 100%;
}

#menus.show-view {
    visibility: visible;
}

.hide-from-view {
    visibility: hidden;
}

.bring-into-view {
    visibility: visible;
}

#menus {
    display: flex;
    justify-content: space-around;
    padding: 3em 1em 2em 0;
    visibility: hidden;
    visibility: visible;
    width: 100%;
    flex-wrap: wrap;
}
#menus li:hover {
    background-color: rgb(137, 137, 137);
}
#menus li:not(.title-bullets) {
    border-radius: 2px;
}

.slide-close {
    background-color: rgb(255, 255, 255, 0.3);
    color: rgb(240, 230, 140);
    cursor: pointer;
    font-size: 1.2em;
    height: 1.5em;
    left: 97.2%;
    padding-left: 11px;
    padding-right: 11px;
    position: relative;
    top: 0.7em;
}
.slide-close:hover {
    background-color: rgb(232, 17, 35);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
span.slide-close ~ div {
    color: rgb(255, 255, 255);
}
.menu-tile {
    display: inline-flex !important;
}
.menu {
    background-color: rgba(112, 112, 112, 0.4);
    display: none;
    flex-flow: column nowrap;
    opacity: 1;
    padding: 2em;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-top: 1em;
}
.menu li {
    background-color: rgba(151, 151, 151, 0.2);
    padding: 0.6em;
    text-align: left;
}
.wrapper-show {
    background-color: rgba(120, 120, 120, 0.4);
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
}
.menu .wrapper {
    display: inline-flex;
    border-top: 1px solid rgb(255, 255, 255);
}
.menu li a {
    border: medium none;
    color: rgba(255, 255, 255, 0.9);
    outline: medium none;
}
.project-group{
    color: #c4dffc;
    font-weight: bold;
}
div#main-heading {
    
    -webkit-animation-play-state: running;

            animation-play-state: running;
    background-image: linear-gradient(to bottom, rgb(187, 217, 251), rgb(153, 191, 234), rgb(120, 166, 217), rgb(84, 141, 201), rgb(38, 117, 184));
    margin: 0 auto;
    padding-bottom: 3em;
    width: 95%;
    overflow: hidden;
}

div#main-heading ol {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ebebeb;
    display: inline-block;
    font-family: Segoe UI Symbol;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 2em;
    text-align: left;
    border-radius: 4px;
}
div#main-heading ol li::before {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 0.6em;
    margin-right: 0.5em;
    width: 0.6em;
}
div#main-heading ol > li:nth-of-type(3) {
    display: block;
}
li.title-bullets {
    display: inline-block;
    margin: 8px 2em;
}
li.title-bullets-exception {
    margin: 8px 2em;
}


@-webkit-keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}


@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}
@-webkit-keyframes moving {
0% {
    background-position: 2000 0;
}
100% {
    background-position: 2000px 0px;
}
}
@keyframes moving {
0% {
    background-position: 2000 0;
}
100% {
    background-position: 2000px 0px;
}
}

#title {
    color: #beffff; 
    font-size: 3.8em;
    line-height: 1.5;
    margin-top: 9%;
    position: relative;
    text-transform: uppercase;
}

#list  {
    font-size: 1.04em;
}

.introducing {
    padding-left: 1em;
}
#list ul {
    margin: 0 auto;
    width: 85%;
}
.calculator-heading {
    margin: 2em;
    position: relative;
    text-align: center;
}

.intro {
    padding: 2em;
}
.covered {
    font-size: 1.3em;
    padding: 2em;
    text-transform: uppercase;
}
.covered img {
    width: 2em;
}
input {
    padding: 8px;
}
.option {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 1em;
}
#options-list {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 2;
    margin: 2em;
    padding: 2em;
     background-image: linear-gradient(to top, #19222c, #192430, #1a2634, #1a2838, #1a2a3c, #1a2a3c, #1a2a3c, #1a2a3c, #1a2838, #1a2634, #192430, #19222c);
}
#questions-list {
    background-color: rgb(40, 135, 179);
    border-top: 10px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 3em 2em 2em;
    padding: 2em 2em 6em 0;
}
.questions-intro-1 {
    padding-bottom: 2em;
    margin-left: 2em;
}
.dot {
    background-color: rgba(255, 53, 0, 0.3);
    border-radius: 30px;
    display: inline-flex;
    height: 0.5em;
    margin: 2px 2px 2px 2em;
    width: 0.5em;
}
.dotdot {
    background-color: rgb(255, 255, 255);
    height: 0.2em;
}
.question {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 900;
    width: 24%
}
.heading {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 900;
    color: #beffff;
}
.heading .dot:nth-of-type(1) {
    background-color: #fff;
}
.heading .dot:nth-of-type(2) {
    background-color: crimson;
}
.heading .dot:nth-of-type(3) {
    background-color: orange;
} 
.heading.shout {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border-top: 1px solid rgb(255, 255, 255);
    color: rgb(250, 128, 114);
    display: inline-block;
    margin: 6em 2em 1em 0.6em;
    padding: 0.001em 1em 1em 0.3em;
    text-align: left;
    text-transform: uppercase;
}


#project {
    background-color: rgb(0, 127, 127);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 1em;
    width: 96%;
    background-color: #41A0CC;
     background-image: linear-gradient(to top, #444444, #51525c, #596176, #5c7291, #5785ab, #5195bd, #46a6ce, #36b7dc, #32c8e5, #38d9eb, #48eaef, #5ffbf1);
      background-image: linear-gradient(to top, #4d4e55, #5a6576, #607f98, #5c9bb8, #51b8d3, #51b7d2, #51b7d2, #51b6d1, #5b98b4, #5d7c93, #576170, #494a4e);
        background-image: linear-gradient(to top, #1c1e31, #1f2e45, #1e3f59, #17516b, #09647a, #09647a, #09647a, #09647a, #17516b, #1e3f59, #1f2e45, #1c1e31);
}
#inputs {
    margin: 0 auto;
    padding: 0 2% 8%;
    text-align: center;
}


#trigger {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}


.trigger {
    background-color: rgba(239, 228, 209, 0.1);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 8px;
}
.trigger:hover:not(#total):not(#current) {
    color: rgb(163, 254, 176);
    cursor: pointer;
}
#item, #amount {
    font-size: small;
}
.cell, #total, #submit, #reset {
    font-stretch: semi-condensed;
}

#reset, #total, #submit {
    border-width: medium medium 1px;
    font-size: 1.2em;
    text-transform: uppercase;
}
#manage {
    background-color: #41A0CC;
    background-color: #096894;
    border-radius: 4px;
    color: rgb(204, 247, 204);
    left: 2em;
    padding-bottom: 3em;
    padding-top: 2em;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 0;
    overflow-x: hidden;
}

#manage > .managed {
    border-bottom: 0.01em solid;
    border-top: medium none;
    cursor: pointer;
    display: block;
    font-size: 0.7em;
    padding: var(--font-size--small);
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.managed:hover {
    background-color: rgba(153, 153, 153, 1);
    background-color: rgba(118, 144, 255, 0.3)
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(153, 153, 153, 0.5);
}
.disabled{
    color: #abc38d;
    background-color: rgb(153, 153, 153, 0.3);
}
.disabled:hover{
    color: #abc38d;
    background-color: rgb(153, 153, 153, 0.3);
    cursor: default;
}
#toggler {
    background-color: rgba(239, 228, 209, 0.3);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    outline: medium none;
    padding: 0 6px;
    position: relative;
}
#toggler:hover {
    color: rgba(163, 254, 176, 1);
}
input {
    border-radius: 20px;
}

#input {
    margin: 2em;
}
#total, #current {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#reset {
    left: -30%;
}
#submit {
    right: -30%;
}
.input {
    font-stretch: semi-condensed;
}
#cell0 {
    text-align: left;
}
.cell{
    border: 1px solid #fff;
    padding: 1em;
}
.del0{
    display: none;
}
.del1 {
    color: rgb(144, 138, 100);
    font-weight: bold;
    margin-top: 0.6em;
    position: absolute;
    right: 12%;
    text-align: center; 
    width: 1em;
    cursor: pointer;
}
.del1:hover{
    color: #f0e68b;
    cursor: pointer;
}
table {
    width: 85%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #fff;
}
footer {
    background-color: rgb(68, 68, 68);
    padding: 1em;
    color: rgb(255, 255, 255) !important;
}

footer a{
    color: #41A0CC;
}
footer a:hover{
    color: #fff;
    text-decoration: underline;
}


#warning-popup{
    position: absolute;
    margin-left: 30%;
    position: absolute;
    width: 30%;
    background-color: #9898;
    margin-top: -9em;
    border: 1px solid #0101;
}
.pop{
    width: 90%;
    margin: 0 auto;
    margin: 1em;
}
.popup-head{
text-align: center;
}
.popup-foot{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
}
.popup-foot span{
    background-color: #96A7B6;
    text-align: center;
    margin: 0;
    padding: .1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #fff;
}
.popup-foot span:hover{
    background-color: #839DB4;
}

.popup-foot span#popup-no{
    background-color: rgb(200, 10, 10);

}
.popup-foot span#popup-no:hover{
    background-color: #9C4E5D;
}


