@media screen and (max-width: 599px) {
  body {
        font-size: var(--font-size--default);
    }


header section {
    background-color: rgb(116, 116, 116);
    position: absolute;
    z-index: 2;
}
section nav#nav ul, section nav#silent-nav ul {
    background-color: rgb(116, 116, 116);
    display: block;
    font-weight: bold;
    overflow-x: hidden;
    position: static;
    transition: all 0.5s ease 0s;
    width: 0;
}
header section nav ul li {
    transition: all 0.3s ease 0s;
    border-bottom: 0.128em solid #565656;
    padding: 0.6em;
}

header section nav h1 {
    font-size: 1.6em;
    left: 2em;
    position: absolute;
    top: -1em;
    width: 100%;
    z-index: 1; 
}
#silent-nav h1 a {
    color: #BEFFFF;
}
nav#silent-nav::before {
    content: " ";
    display: block;
    height: 2em;
    transition: all 0.3s ease 0s;
    width: 50%;
}
nav#silent-nav {
    display: block;
    margin: 3em 0 0;
}
#silent-nav > ul {
    text-align: left;
}
#silent-nav > ul li {
    /*background-color: rgb(238, 187, 238);*/
    /*border: 1px solid rgba(153, 153, 153, 0.2);*/
    display: block;
    margin-top: 1px;
    /*padding: 0.6em;*/
}
#silent-nav > ul li:first-of-type{
    border-top: 0.1em solid #565656;
}
#silent-nav > ul li a {
    padding: 0;
    color: #fff;
}
#silent-nav > ul li a:hover {
    border: medium none;
}
nav.main-nav {
    margin: 0;
}
nav.main-nav ul {
    background-color: #1b7aa6;
    display: block;
    text-align: left;
    /*width: 50 %;*/
}
nav.main-nav ul li:first-of-type {
    margin-left: 0;
}
nav.main-nav ul li:last-of-type {
  background-color: rgb(27, 122, 166);
    display: block;
    margin-right: 0;
    padding: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: none;
}
#silent-nav h1 .open-off-canvass {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.2em;
    left: -1.2em;
    position: absolute;
    top: -0.3em;
}
#silent-nav h1 .open-off-canvass:hover {
    cursor: pointer;
}
nav.main-nav ul li a {
    padding: 0;
}

nav [data-role="projects-toggler"] {
    border-radius: 1px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5em;
    padding-left: 0.19em;
    padding-right: 0.19em;
    padding-top: 0.05em;
    position: absolute;
    right: 5%;
    top: 0.5em;
}

#title {
    font-size: 7vw;
    margin-top: 20vh;
    margin-bottom: 1em;
}
div#main-heading {
    width: 100%;
}
div#main-heading ol{
    padding: 1em 0;
}
#questions-list {
    margin: 3em 0 2em; 
}
#options-list{
    margin: 2em 0;
    padding: 2em 2em;
}
.heading.shout {
    margin-left: 0;
}
.introducing {
    padding-left: 0;
}
.option {
    padding-left: unset;
}
#list ul {
    width: unset;
}
.covered {
    font-size: 3.4vw;
    font-weight: 900;
    padding-bottom: 4em;
    padding-left: 1em;
}
.covered img {
    width: 1.6em;
}
#project {
    width: 100%;
}
.dot {
    margin: 2px 2px 2px 0;
}
}