
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
}
body {
    color: rgb(18, 52, 86);
    font-family: fantasy;
    font-size: 1em;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}
section {
    background-color: rgba(214, 240, 243, 0.4);
    height: 30%;
    margin: 2em 1%;
    width: 98%;
}
section ~ section {
    background-color: rgb(235, 179, 189);
}
.container {
    background-color: rgb(250, 245, 240);
    height: 90%;
    margin: 1em auto;
    width: 90%;
}
