
body {
    margin: 0;
}
header h1, header h2 {
    padding-bottom: 2em;
}
#main {
    background-color: rgb(225, 225, 225);
    box-shadow: 0 1px 4px 0;
    margin: 0 auto;
    padding: 3em 2em 5em;
    position: relative;
    text-align: center;
    top: 50px;
    width: 60%;
}
i {
    color: rgb(18, 52, 86);
}
#tick {
    color: rgb(220, 20, 60);
}
#btn_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 45%;
}
#toggled {
    border: 0 none;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
    cursor: default;
    font-family: Times New Roman;
    padding: 0.55em;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    width: 35%;
}
#enter {
    border: medium none;
    box-shadow: 1px 1px 4px 2px;
    padding: 0.7em;
    transition: all 0.3s ease-in-out 0s;
}
#enter:focus, #enter:active {
    background-color: rgb(251, 251, 251);
    box-shadow: 0 1px 4px 2px rgb(0, 0, 0);
}
.disabled {
    background-color: rgb(204, 204, 204);
    border: 1px solid rgb(191, 191, 191);
    color: rgb(135, 135, 135);
}
.enabled {
    background-color: rgb(129, 213, 255);
    border: 1px solid rgb(58, 142, 209);
    color: rgb(220, 20, 60);
}
#hr {
    border: 2px solid #123456 ;
    border-radius: 37px;
}
#example {
    padding: 1em;
    text-decoration: underline;
    text-decoration-color: #123456;
    text-decoration-style: wavy;
}
