
body {
    background-color: #ebebeb;
    color: #f6f6f699;
    font-family: tahoma;
    font-size: 100%;
    line-height: 1.5;
    overflow: scroll;
}
.heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-weight: bold;
    text-align: center;
    text-decoration: underline dotted #777;
}
.wrapper {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 5fr 5fr 5fr;
}
.wrapper > div {
    background-color: #6f9eb9;;
    padding: 1em;
}
.wrapper > div:nth-child(2n):not(.heading) {
    background-color: #7395b9;
}
.wrapper > div:nth-child(2n+1):not(.heading):not(.flip) {
    background-color:#4a5366;
}
.wrapper > div:not(.flip):not(.heading) {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
}
.flip {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
.flip > big {
    display: block;
    transform: rotate(40deg);
    transform-origin: left top 0;
}